@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
}
